// =============================================
//              -----base-----
// =============================================
html {
  width: 100%;
  margin: 0 auto;
  font-size: 62.5%;
}

body {
  font-size: (25/750)*100vw;
  line-height: 1.8;
  font-family: $sans_serif;
  color: $c-font;
  text-align: left;
  background-color: #FFF;
  @media screen and (min-width: 768px), print {
    font-size: (20/1200)*100vw;
  }
  @media screen and (min-width: 1200px) {
    font-size: 20px;
  }
}
a {
  color: $c-font;
  text-decoration: none;
  transition: all 0.2s;
  &:hover {
    @media only screen and (min-width: 768px) {
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
      opacity: 0.7;
    }
  }
}

img {
  width: 100%;
  vertical-align: bottom;
}
ul {
  padding-left: 0;
}
figure {
  margin: 0;
}

