    <footer class="footer">
      <ul>
        <li><a href="">test</a></li>
        <li><a href="">test</a></li>
        <li><a href="">test</a></li>
        <li><a href="">test</a></li>
      </ul>
    </footer>
    <script src="js/jquery-1.12.4.min.js"></script>
    <script src="js/common.js"></script>
  </body>
</html>
