<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
<% include _head %>

  <body class="<%- pageData['mySlug'] %>">
    <header class="header">
      <div class="header-logo">
        <p><img src="img/250x50.png" alt=""></p>
      </div>
      <nav class="header-menu">
        <ul>
          <li><a href=""><span>menu1</span></a></li>
          <li><a href=""><span>menu2</span></a></li>
          <li><a href=""><span>menu3</span></a></li>
          <li><a href=""><span>menu4</span></a></li>
          <li><a href=""><span>menu5</span></a></li>
        </ul>
      </nav>
    </header>
